<div class="checkbox">
  <label>
    <input type="checkbox" class="schat-channel-mode-checkbox" value="true" name="{{flag}}" {{#if isSet}}checked{{/if}} />
    {{label}}
    {{#if paramName}}
		<input type="text" class="form-control" id="channel-flag-{{paramName}}-input" name="{{paramName}}" value="{{param}}" />
	{{/if}}
  </label>
</div>